<div class="container">
  <h1 style="text-align:center;" class="mt-3">Edit Menus</h1>
  
  <%= render "form", menu: @menu %>

  <br>

  <div style="text-align:center;">
    <%= link_to "Back", menus_path, :class => "btn btn-primary" %>
  </div>
</div>