<div class="container">
  <h1 style="text-align:center;" class="mt-3">New Customer</h1>
  
  <%= render "form", customer: @customer %>

  <br>

  <div style="text-align:center;">
    <%= link_to "Back", customers_path, :class => "btn btn-primary" %>
  </div>
</div>